 {% block content %}
<h2>سبد خرید</h2>
<ul>
    {% for ticket_cart in tickets_in_cart %}
    <li>
        {{ ticket_cart.ticket.source }}-{{ticket_cart.ticket.destination}}-{{ ticket_cart.ticket.price }}
        <p>count : {{ ticket_cart.count }}</p>
        <button class="remove-from-cart" data-ticket-id="{{ ticket_cart.ticket.id }}">حذف</button>
    </li>
    {% endfor %}

</ul>
<button id="finalize-cart">نهایی کردن سبد خرید</button> {% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.remove-from-cart').click(function() {
            var ticketId = $(this).data('ticket-id');
            $.ajax({
                type: 'POST',
                url: '/cart/remove-ticket/',
                data: {
                    'ticket_id': ticketId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    alert('کتاب از سبد خرید حذف شد!');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert('خطا در ارسال درخواست: ' + error);
                }
            });

        });

        $('#finalize-cart').click(function() {
            $.ajax({
                type: 'POST',
                url: '/finalize-cart/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // انجام عملیاتی که بعد از نهایی کردن سبد خرید باید انجام شود
                    alert('سبد خرید نهایی شد و سفارش ایجاد شد!');
                },
                error: function(xhr, status, error) {
                    // پیام خطا در صورتی که درخواست با مشکل مواجه شود
                    alert('خطا در ارسال درخواست: ' + error);
                }
            });
        });
    });
</script>