<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
    {% for ticket in tickets %}

    <ul>
        <li>
            <a href="/product/tickets/{{ticket.pk}}/">{{ticket.source}} {{ticket.destination}} {{ticket.price}}</a
        >
      </li>
    </ul>
    <button class="add-to-cart" data-ticket-id="{{ ticket.id }}">
      افزودن به سبد خرید
    </button>
    {% endfor %}
  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".add-to-cart").click(function () {
        var ticketId = $(this).data("ticket-id");
        $.ajax({
          type: "POST",
          url: "/cart/add-to-cart/",
          data: {
            ticket_id: ticketId,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            alert("بلیط به سبد خرید اضافه شد!");
          },
          error: function (xhr, status, error) {
            alert("خطا در ارسال درخواست: " + error);
          },
        });
      });
    });
  </script>
</html>